body{
  text-align: center;
  align-items: center;
  align-content: center;
}
img{
  width: 25%;
  border-radius: 50%;
}
a{
  text-decoration: none;
  color: #fff;
}
.step1{
  height: 45px;
  background-color: rgb(83, 238, 243);
  width: 150px;
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: 43%;
  margin-right: 50%;
  padding-left: 5px;
  padding-right: 5px;
}
.step2{
  visibility: hidden;
  background-color: rgb(83, 238, 243);
  width: 150px;
  text-align: center;
  margin-left: 43%;
  margin-right: 50%;
  padding-right: 5px;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (max-width: 380px) {
  .step1{
    width: 60%;
    margin-left: 20%;
  }
  .step2{
    width: 60%;
    margin-left: 20%;
  }
}
